.ant-layout-header{
    background-color: #f8f8f8;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.logo a{
    color: #333;
}
.logo-icon{
    color: #1890ff;
    font-size: 28px;
    margin-right: 5px;

}
.header .ant-menu{
    background: none !important;
    border: 0;
}
.header .ant-menu li.ant-menu-item{
    color: #333;
    position: relative;
}
.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: 30%;
  opacity: 0;
  transition: all .3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}


