.pricingBlock .ant-list{
    text-align: center;
}
.pricingBlock .ant-row > div:nth-child(2) .ant-list-item{
    transform: scale(1.1);
    z-index: 1;
    position: relative;
    box-shadow: 0 0 12px 2px #f3f3f3;
}
.pricingBlock .ant-card-head-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}
.pricingBlock .large{
    font-size: 38px;
    line-height: 1;
    margin-bottom: 20px;
}
.pricingBlock button i{
    margin-right: 10px;
    font-size: 20px;
}
@media only screen and (max-width: 768px){
    .pricingBlock .ant-row > div:nth-child(2) .ant-list-item{
        transform: scale(1);
    }
}